
Basic-Postgress/build/tmp/jar/MANIFEST.MF
Basic-Postgress/build/tmp/compileTestJava/previous-compilation-data.bin
Basic-Postgress/build/tmp/compileJava/previous-compilation-data.bin
Basic-Postgress/build/tmp/bootJar/MANIFEST.MF
Basic-Postgress/build/test-results/test/TEST-com.jpa.postgress.dboperations.DboperationsApplicationTests.xml
Basic-Postgress/build/test-results/test/binary/results.bin
Basic-Postgress/build/test-results/test/binary/output.bin.idx
Basic-Postgress/build/test-results/test/binary/output.bin
Basic-Postgress/build/resources/test/application-test.properties
Basic-Postgress/build/resources/main/db/migration/V1__Create_users_table.sql
Basic-Postgress/build/resources/main/application.properties
Basic-Postgress/build/resolvedMainClassName
Basic-Postgress/build/reports/tests/test/packages/com.jpa.postgress.dboperations.html
Basic-Postgress/build/reports/tests/test/js/report.js
Basic-Postgress/build/reports/tests/test/index.html
Basic-Postgress/build/reports/tests/test/css/style.css
Basic-Postgress/build/reports/tests/test/css/base-style.css
Basic-Postgress/build/reports/tests/test/classes/com.jpa.postgress.dboperations.DboperationsApplicationTests.html
Basic-Postgress/build/reports/problems/problems-report.html
Basic-Postgress/build/libs/dboperations-0.0.1-SNAPSHOT.jar
Basic-Postgress/build/libs/dboperations-0.0.1-SNAPSHOT-plain.jar
Basic-Postgress/build/classes/java/test/com/jpa/postgress/dboperations/DboperationsApplicationTests.class
Basic-Postgress/build/classes/java/main/com/jpa/postgress/dboperations/service/UsersService.class
Basic-Postgress/build/classes/java/main/com/jpa/postgress/dboperations/repo/UsersRepo.class
Basic-Postgress/build/classes/java/main/com/jpa/postgress/dboperations/entity/Users.class
Basic-Postgress/build/classes/java/main/com/jpa/postgress/dboperations/DboperationsApplication.class
Basic-Postgress/build/classes/java/main/com/jpa/postgress/dboperations/controller/UsersController.class
Basic-Postgress/.gradle/vcs-1/gc.properties
Basic-Postgress/.gradle/file-system.probe
Basic-Postgress/.gradle/buildOutputCleanup/outputFiles.bin
Basic-Postgress/.gradle/buildOutputCleanup/cache.properties
Basic-Postgress/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Basic-Postgress/.gradle/8.11.1/gc.properties
Basic-Postgress/.gradle/8.11.1/fileHashes/resourceHashesCache.bin
Basic-Postgress/.gradle/8.11.1/fileHashes/fileHashes.lock
Basic-Postgress/.gradle/8.11.1/fileHashes/fileHashes.bin
Basic-Postgress/.gradle/8.11.1/fileChanges/last-build.bin
Basic-Postgress/.gradle/8.11.1/executionHistory/executionHistory.lock
Basic-Postgress/.gradle/8.11.1/executionHistory/executionHistory.bin
Basic-Postgress/.gradle/8.11.1/checksums/checksums.lock
Basic-MongoDB/build/tmp/compileTestJava/previous-compilation-data.bin
Basic-MongoDB/build/tmp/compileJava/previous-compilation-data.bin
Basic-MongoDB/build/resources/main/application.properties
Basic-MongoDB/build/reports/problems/problems-report.html
Basic-MongoDB/build/classes/java/test/com/operations/mongodb/MongodbApplicationTests.class
Basic-MongoDB/build/classes/java/main/com/operations/mongodb/service/UserService.class
Basic-MongoDB/build/classes/java/main/com/operations/mongodb/repository/UserRepository.class
Basic-MongoDB/build/classes/java/main/com/operations/mongodb/MongodbApplication.class
Basic-MongoDB/build/classes/java/main/com/operations/mongodb/MongoConfig.class
Basic-MongoDB/build/classes/java/main/com/operations/mongodb/entity/User.class
Basic-MongoDB/build/classes/java/main/com/operations/mongodb/Controller/UserController.class
Basic-MongoDB/.gradle/vcs-1/gc.properties
Basic-MongoDB/.gradle/file-system.probe
Basic-MongoDB/.gradle/buildOutputCleanup/outputFiles.bin
Basic-MongoDB/.gradle/buildOutputCleanup/cache.properties
Basic-MongoDB/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Basic-MongoDB/.gradle/8.11.1/gc.properties
Basic-MongoDB/.gradle/8.11.1/fileHashes/resourceHashesCache.bin
Basic-MongoDB/.gradle/8.11.1/fileHashes/fileHashes.lock
Basic-MongoDB/.gradle/8.11.1/fileHashes/fileHashes.bin
Basic-MongoDB/.gradle/8.11.1/fileChanges/last-build.bin
Basic-MongoDB/.gradle/8.11.1/executionHistory/executionHistory.lock
Basic-MongoDB/.gradle/8.11.1/executionHistory/executionHistory.bin
Basic-MongoDB/.gradle/8.11.1/checksums/checksums.lock
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/SpringBoot-JPA.iml
.idea/vcs.xml
